################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bug-tracker/.vs/bug-tracker
/bug-tracker/bug-tracker/bin/Debug/net6.0
/bug-tracker/bug-tracker/obj
